// Light Theme
$LIGHT--white-bg: hsl(0, 0%, 100%);
$LIGHT--very-pale-blue-top-bg-pattern: hsl(225, 100%, 98%);
$LIGHT--light-grayish-blue-card-bg: hsl(227, 47%, 96%);
$LIGHT--dark-grayish-blue-text: hsl(228, 12%, 44%);
$LIGHT--very-dark-blue-text: hsl(230, 17%, 14%);

body {
    background-color: $LIGHT--white-bg;
}

.card {
    background-color: $LIGHT--light-grayish-blue-card-bg;
}